body{
    font-family: 'Helvetica Neue';
    margin: 40px auto;
    width: 960px;
    min-height: 600px;
  }
#body {
    position: relative;
  }
#body > p {
  line-height: 1.5em;
  width: 640px;
  text-rendering: optimizeLegibility;
}
footer {
  padding: 2em 0 1em 0;
  font-size: 12px;
}
h1 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom:.6em;
  }
.button {
    border: none;
    padding: 4px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
   }
.button1 {background-color: grey;}
.button2 {background-color: red;}
.button3 {background-color: #8e0152;}
.button4 {background-color: #c51b7d;}
.button5 {background-color: #de77ae;}
.button6 {background-color: #f1b6da;}
.button7 {background-color: #fde0ef;}
.button8 {background-color: #fee090;}
.button9 {background-color: #e6f5d0;}
.button10 {background-color: #b8e186;}
.button11 {background-color: #7fbc41;}
.button12 {background-color: #4d9221;}
.button13 {background-color: #276419;}

.hidden {
	display: none;
}
#charts {
    padding: 10px 0;
  }

.chart {
    display: inline-block;
    height: 200px;
    margin-bottom:10 px;
  }

.reset {
    padding-left: 1em;
    font-size: smaller;
    color: #ccc;
  }

.background.bar {
    fill: #ccc;
  }

.foreground.bar {
    fill: steelblue;
  }

.brush-handle {
    fill: #eee;
    stroke: #666;
  }
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.brush rect.extent {
  fill: steelblue;
  fill-opacity: .125;
}

.brush .resize path {
  fill: #eee;
  stroke: #666;
}
#gender-chart {
  width: 120px;
}

#age-chart {
  width: 200px;
}
#legend {
  width: 100px;
}
#legend .legend div {
  width: 90px;
}
#date-chart {
  width: 500px;
}
#death-list {
  min-height: 1024px;
}

#death-list .date
 {
  margin-bottom: .4em;
}
#death-list .death {
  line-height: 1.5em;
  background: #eee;
  width: 640px;
  margin-bottom: 1px;
}
death-list .day,
#death-list .death div {
  display: inline-block;
  width: 100px;
}




